doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title MKJ Electronics - Cart
    link(rel="stylesheet", href="../css/style.css")
  body(class="cart-page")
    header
      div.logo
        h1 MKJ Electronics
      nav
        a(href="/") Home
        a(href="/shop") Shop
        a(href="/profile") Profile
        a(href="/cart") Cart
        a(href="/about") About
        a(href="/faq") FAQ
        a(href="/login") Login

    main
      section.cart
        h2 Your Shopping Cart
        
        //- If the cart is empty
        if cartItems.length === 0
          div.empty-cart
            p Your cart is currently empty.
            a(href="/shop" class="cta-btn") Browse Products
        
        //- If the cart has items
        else
          div.cart-items
            each item in cartItems
              div.cart-item
                img(src="/images/#{item.image}", alt=item.title)
                div.item-details
                h4= item.title
                  p Price: $#{item.price}
                  label Quantity:
                  input(type="number", value=item.quantity || 1, min="1", name="quantity")
                  form(action="/cart/remove", method="POST")
                    input(type="hidden", name="cartId", value=item.cart_id)
                    button(type="submit", class="remove-btn") Remove

          div.cart-summary
            h3 Total: $#{total}
             a(href="/checkout" class="cta-btn") Proceed to Checkout
    
    footer
      .footer-links
        a(href="/about") About Us
        a(href="/faq") FAQ
        a(href="/contact") Contact
      p &copy; 2025 MKJ Electronics | All Rights Reserved
