doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title #{product.title} - MKJ Electronics
    link(rel="stylesheet", href="/css/style.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap", rel="stylesheet")
  body
    header
      h1= product.title
      nav
        a(href="/") Home
        a(href="/shop") Shop
        a(href="/profile") Profile
        a(href="/cart") Cart
        a(href="/about") About
        a(href="/faq") FAQ
        a(href="/login") Login

    main
      img(src="/images/" + product.image, alt=product.title, style="max-width: 300px")
      h2= product.title
      p Price: $#{product.price}
      p= product.description
      form(action="/cart/add", method="POST")
        input(type="hidden", name="productId", value=product.id)
        button(type="submit") Add to Cart
