doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Profile - MKJ Electronics
    link(rel="stylesheet", href="../css/style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap", rel="stylesheet")

  body
    header
      h1 MKJ Electronics
      nav
        a(href="/") Home
        a(href="/shop") Shop
        a(href="/profile") Profile
        a(href="/cart") Cart
        a(href="/about") About
        a(href="/faq") FAQ
        if !username
          a(href="/login") Login

    main
      section.profile
        if error
          p(style="color: red; font-weight: bold;") #{error}
        if message
          p(style="color: green; font-weight: bold;") #{message}
        if user
          h2 Welcome, #{user.username}!
          .profile-details
            img.profile-pic(src='../images/profilepic.jpg', alt="Profile Picture")
            .info
              if user.real_name
                p
                  | Name:
                  strong #{user.real_name}

          .profile-card
            h3 Your Purchases
            if purchases && purchases.length > 0
              .purchase-history-grid
                each purchase in purchases
                  .purchase-item
                    img(src=`/images/${purchase.image}` alt=purchase.product_title)
                    .purchase-details
                      h4= purchase.product_title
                      p Price: $#{Number(purchase.price).toFixed(2)}
                      p Quantity: #{purchase.quantity}
                      p Purchased On: #{purchase.purchase_date}
                    .purchase-actions
                      form(action="/cart/add" method="POST")
                        input(type="hidden" name="productId" value=purchase.product_id)
                        button(type="submit" class="buy-again-btn") Buy Again

            else
              p You haven't made any purchases yet.

          hr.divider

          .profile-card
            h3 Account Actions

            form(method="POST", action="/profile/update-password")
              h4
                i.fas.fa-lock
                |  Update Password
              label(for="currentPassword") Current Password:
              input(type="password", id="currentPassword", name="currentPassword", required)

              label(for="newPassword") New Password:
              input(type="password", id="newPassword", name="newPassword", required)

              label(for="confirmPassword") Confirm New Password:
              input(type="password", id="confirmPassword", name="confirmPassword", required)

              button(type="submit") Update Password
            br

            form(method="POST", action="/profile/update-username")
              h4
                i.fas.fa-user-edit
                |  Update Username
              label(for="username") New Username:
              input(type="text", id="username", name="username", value=user.username, required)
              button(type="submit") Update Username
            br

            form(method="POST", action="/profile/logout")
              h4
                i.fas.fa-sign-out-alt
                |  Logout
              button(type="submit") Logout

        else
          h2 Welcome!
          p Please log in to see your profile details.
          a.btn-register(href="/login") Login

.homepage
  footer
    .footer-links
      a(href="/about") About
      a(href="/faq") FAQ
      a(href="/contact") Contact
    p &copy; 2025 MKJ Electronics. All rights reserved.